<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  {{> nav}}
  {{> heading}}
  <!-- A helper function can take params seperated by spaces -->
  <p>{{screamIt welcomeMessage}}</p>
  {{> footer}}
</body>

</html>
